<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="onShowSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Wiki Environment</h1>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav
    #sidenav
    class="example-sidenav"
    mode="side"
    [opened]="showSideNav"
  >
    <ng-container *ngFor="let item of links">
      <mat-nav-list>
        <mat-list-item (click)="onMainMenuClick(item.id)" class="parent">
          <span class="full-width">
            <h4>{{ item.title }}</h4>
          </span>
          <!-- <mat-icon mat-list-icon>home</mat-icon> -->
        </mat-list-item>
        <hr style="border: 1px solid #ccc; width: 100%" />
        <div class="submenu" [ngClass]="{ expanded: true }">
          <mat-nav-list>
            <ng-container *ngFor="let itemLink of item.data">
              <a mat-list-item [href]="itemLink.link">{{ itemLink.name }}</a>
              <hr style="border: 0.1px solid #eee; width: 100%" />
            </ng-container>
          </mat-nav-list>
        </div>
      </mat-nav-list>
    </ng-container>
    <mat-nav-list> </mat-nav-list>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <mat-list style="width: 100%">
      <div mat-subheader>Wiki Env</div>
      <ng-container *ngFor="let item of wikiList">
        <mat-list-item>
          <div mat-line>{{ item.title }}</div>
          <div mat-line>{{ item.subTitle }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <table class="mat-table">
          <tr class="mat-header-row">
            <th class="mat-header-cell">A</th>
            <th class="mat-header-cell">B</th>
          </tr>
          <ng-container *ngFor="let ele of item.data">
            <tr class="mat-row">
              <td class="mat-cell">{{ ele.name }}</td>
              <td class="mat-cell">
                <a [href]="ele.link" class=""> {{ ele.link }}</a>
              </td>
            </tr>
          </ng-container>
        </table>
      </ng-container>
    </mat-list>

    <div fxLayout="row wrap" fxLayoutAlign="start center" style="width: 95%">
      <!-- <mat-table>
        <mat-header-row>
          <mat-header-cell>One</mat-header-cell>
          <mat-header-cell>Two</mat-header-cell>
          <mat-header-cell>Three</mat-header-cell>
        </mat-header-row>
        <mat-row>
          <mat-cell>Tick</mat-cell>
          <mat-cell>Trick</mat-cell>
          <mat-cell>Track</mat-cell>
        </mat-row>
      </mat-table> -->

      <!-- <div fxFlex="100">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. Mia"
            #input
          />
        </mat-form-field>
      </div> -->
    </div>
  </div>
</mat-sidenav-container>
