<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="onShowSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Wiki Environment</h1>
  <span class="example-spacer"></span>
  <span>
    {{ currentDate | date }}
  </span>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav
    #sidenav
    class="example-sidenav"
    mode="side"
    [opened]="showSideNav"
  >
    <ng-container *ngFor="let item of links">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item.title }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ng-container *ngFor="let itemLink of item.data">
            <a mat-list-item [href]="itemLink.link">{{ itemLink.name }}</a>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <mat-list style="width: 100%">
      <div mat-subheader>Wiki Env</div>
      <ng-container *ngFor="let item of wikiList">
        <br />
        <mat-list-item style="background-color: #ccc">
          <div mat-line>{{ item.title }}</div>
          <div mat-line>{{ item.subTitle }}</div>
        </mat-list-item>
        <br />
        <table class="mat-table">
          <tr class="mat-header-row">
            <th class="mat-header-cell">A</th>
            <th class="mat-header-cell">B</th>
          </tr>
          <ng-container *ngFor="let ele of item.data">
            <tr class="mat-row">
              <td class="mat-cell">{{ ele.name }}</td>
              <td class="mat-cell">
                <a [href]="ele.link" class=""> {{ ele.link }}</a>
              </td>
            </tr>
          </ng-container>
        </table>
      </ng-container>
    </mat-list>
  </div>
</mat-sidenav-container>
