<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="onShowSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Wiki Environment</h1>
  <span class="example-spacer"></span>
  <span>
    {{ currentDate | date }}
  </span>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav
    #sidenav
    class="example-sidenav"
    mode="side"
    [opened]="showSideNav"
  >
    <ng-container *ngFor="let item of links">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ item.title }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <ng-container *ngFor="let itemLink of item.data">
            <a mat-list-item [href]="itemLink.link">{{ itemLink.name }}</a>
          </ng-container>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <mat-list style="width: 100%">
      <h2
        style="
          height: 36px;
          padding: 16px;
          width: 98%;
          background: 1px solid #ccc;
          background-color: #ddd;
          color: brown;
          font-weight: bold;
        "
      >
        Application environment Page
      </h2>
      <ng-container *ngFor="let item of wikiList">
        <br />
        <section>
          <h4
            style="
              padding: 8px;
              background: 1px solid #ccc;
              background-color: #ddd;
              color: brown;
              margin-block-start: 0em;
              margin-block-end: 0em;
            "
          >
            {{ item.title }}
          </h4>
          <table class="mat-table">
            <tr class="mat-header-row">
              <th class="mat-header-cell">Logical Name</th>
              <th class="mat-header-cell">App URL</th>
              <th class="mat-header-cell">Log URL</th>
              <th class="mat-header-cell">Database</th>
              <th class="mat-header-cell">Last Build</th>
            </tr>
            <ng-container *ngFor="let ele of item.data">
              <tr class="mat-row">
                <td class="mat-cell">
                  <ng-container
                    *ngTemplateOutlet="LogicalNameTemplate; context: ele"
                  >
                  </ng-container>
                </td>
                <td class="mat-cell">
                  <ng-container
                    *ngTemplateOutlet="AppUrlTemplate; context: ele"
                  >
                  </ng-container>
                </td>
                <td class="mat-cell">
                  <ng-container
                    *ngTemplateOutlet="LogUrlTemplate; context: ele"
                  >
                  </ng-container>
                </td>
                <td class="mat-cell">
                  <ng-container
                    *ngTemplateOutlet="DatabaseTemplate; context: ele"
                  >
                  </ng-container>
                </td>
                <td class="mat-cell">
                  <ng-container
                    *ngTemplateOutlet="LastBuildTemplate; context: ele"
                  >
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </table>
        </section>
      </ng-container>
    </mat-list>
  </div>
</mat-sidenav-container>

<ng-template #LogicalNameTemplate let-item="name">
  <div>{{ item }}</div>
</ng-template>

<ng-template #AppUrlTemplate let-item="appUrl">
  <ng-container *ngFor="let ele of item">
    <p>
      {{ ele.name }} :<a [href]="ele.url"> {{ ele.url }} </a>
    </p>
  </ng-container>
</ng-template>

<ng-template #LogUrlTemplate let-item="logUrl">
  <ng-container *ngFor="let ele of item">
    <a [href]="ele"> {{ ele }} </a>
  </ng-container>
</ng-template>

<ng-template #DatabaseTemplate let-item="database">
  <button
    mat-raised-button
    color="primary"
    (click)="viewDdTemplate(DatabasePopupTemplate, item)"
  >
    database details
  </button>
</ng-template>

<ng-template #LastBuildTemplate let-item="lastBuild">
  <div>{{ item | date }}</div>
</ng-template>

<ng-template #DatabasePopupTemplate>
  <h4>Database</h4>
  <br />
  <mat-dialog-content class="mat-typography">
    <div *ngIf="dbData.app">app : {{ dbData.app }}</div>
    <div>host : {{ dbData.host }}</div>
    <div>port : {{ dbData.port }}</div>
    <div>user : {{ dbData.user }}</div>
    <div>password : {{ dbData.password }}</div>
  </mat-dialog-content>
</ng-template>
