<main style="text-align: center">
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Title</mat-label>
      <mat-select [disabled]="auth['title']">
        <mat-option value="one">Mr</mat-option>
        <mat-option value="two">Miss</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput [disabled]="auth['name']" />
  </mat-form-field>
  <p>
    <button mat-raised-button color="primary" [disabled]="auth['submit']">
      submit
    </button>
  </p>
</main>
